

body {
    background-color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    margin: 0;   
}

h1 {
    font-size: 2vw;
    margin: 3px;
}
.head {
    text-align: center;
    color: #6B7A8F;
    position: relative;
  }

h1.h1splash {
    font-family: "Trebuchet MS", "TeX Gyre Adventor", sans-serif; 
    font-size: 7vw;
    color: #F7882F;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:66.66666666%;
    text-align:center;
}

h2.h2splash {
    position: absolute;
    color: #DCC7AA; 
    top: 75%;
    left: 50%;
    width: 80%; 
    transform: translate(-50%, -50%);
    font-size: 1.8vw;
}
.signup {
    position: absolute;
    float: center; 
    bottom: 6%; 
    right: 45%;
    width: 10%;
    padding: 2px 4px 2px 4px ; 
    font-size: 2vw;
    border-color: #F7882F; 
    border-style: groove;
    background-color: white; 
}


.header {
        width: 100%;
        margin: 5px auto;
        display : inline-block;
}
.buttons {
    float:right; 
    font-size: 1vw;
}
       


.contact h3 {
    color:  #6B7A8F; 
    font-size: 3vw;
    text-align: center; 
    }

.contact {
    width: 90%;
    margin: 10% auto;
    }
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 5px;
        justify-items: center;
        align-items: center;
    }
        .adress {
            color:  #6B7A8F; 
            font-size: 2vw;
            text-align: center; 
        }

.benefits h3{
    margin: 10%; 
}

.benefits ul {
        list-style-type: circle; 
        overflow: hidden;
        text-align: left; 
        font-size: 2vw; 
    }

.gallery {
    width: 90%;
    margin: 10% auto;
}

    .innergrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-gap: 0%;
    }
        .photo1 {
            max-width: 120vw; 
            max-height: 120vh; 
            text-indent: 10px;
            overflow: hidden; 
        }
    
        .photo2 {
            max-width: 120vw; 
            max-height: 120vh; 
            text-indent: 10px;
            overflow: hidden; 
        }

        .photo3 {
            max-width: 120vw; 
            max-height: 120vh; 
            text-indent: 10px;
            overflow: hidden; 
        }

        .photo4 {
            max-width: 120vw; 
            max-height: 120vh; 
            text-indent: 10px;
            overflow: hidden; 
        }

.courses {
    width: 90%;
    margin: 10% auto;
    
}
    .coursesgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr ;
        grid-gap: 20px 10px;
    }
        .mathgrade img{ 
            float: right; 
        } 

       .coursename h4 {
            color:  #F7C331; 
            font-size: 1.5vw;
            float: left; 
        } 

.team {
    width: 45%;
    margin: 10% auto;
}
    .teammembers {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .photoperson img {
        width: 20vw; 
        height: auto;
        float: center; 
        

    }
    .infoperson h4 {
        color:   #F7882F; 
            font-size: 1.5vw;
            text-align: center; 
            float: center; 
    }

    .footer {
        width: 100%;
        margin: 0 auto;
        background-color: darkgray;
        color: #DCC7AA;
        text-align: center; 
        font-size: 2vw; 
    }
    html {
        box-sizing: border-box;
    }
    *,*:before, *:after {
        box-sizing: inherit;
    }